In [83]:
import torch
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
import torch.nn as nn
from torch.optim import Adam
import random


torch.manual_seed(42)
np.random.seed(42)
random.seed(42 )

In [84]:
iris = load_iris()
X = torch.tensor(iris.data, dtype=torch.float32)
y = torch.tensor(iris.target, dtype=torch.int64)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

pd.DataFrame(X_train, columns=iris.feature_names).head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                4.6               3.6                1.0               0.2
1                5.7               4.4                1.5               0.4
2                6.7               3.1                4.4               1.4
3                4.8               3.4                1.6               0.2
4                4.4               3.2                1.3               0.2

In [85]:
pd.DataFrame(y_train, columns=["target"]).head(20)

    target
0        0
1        0
2        1
3        0
4        0
5        2
6        1
7        0
8        0
9        0
10       2
11       1
12       1
13       0
14       0
15       1
16       2
17       2
18       1
19       2

In [86]:
class IrisNet(nn.Module):
    def __init__(self, num_inputs=4, num_outputs=3):
     super().__init__()

     self.layers = nn.Sequential(
        # 1st layer(input)
        nn.Linear(num_inputs, 10),
        nn.ReLU(),

        # 2nd layer(hidden)
        nn.Linear(10, 10),
        nn.ReLU(),

        # 3rd layer(output)
        nn.Linear(10, num_outputs),
    )

    def forward(self, x):
     return self.layers(x)

In [97]:
model = IrisNet(4,3)
criterion = nn.CrossEntropyLoss()
optimizer = Adam(model.parameters(), lr=0.01)

for epoch in range(100):
    optimizer.zero_grad()
    y_pred = model(X_train)
    loss = criterion(y_pred, y_train)
    loss.backward()
    optimizer.step()
    if (epoch+1) % 10 == 0:
        print(f'Epoch [{epoch+1}/10], Loss: {loss.item():.4f}')
score = (model(X_test).argmax(dim=1) == y_test).sum() / len(y_test)
print(f'Стабильный score: {score:.4f}')

train_score = (model(X_train).argmax(dim=1) == y_train).sum() / len(y_train)
print(f'Train score: {train_score:.4f}')
print(f'Test score: {score:.4f}')

Epoch [10/10], Loss: 1.0204
Epoch [20/10], Loss: 0.8553
Epoch [30/10], Loss: 0.6822
Epoch [40/10], Loss: 0.5273
Epoch [50/10], Loss: 0.3979
Epoch [60/10], Loss: 0.2767
Epoch [70/10], Loss: 0.1520
Epoch [80/10], Loss: 0.0861
Epoch [90/10], Loss: 0.0666
Epoch [100/10], Loss: 0.0610
Стабильный score: 1.0000
Train score: 0.9750
Test score: 1.0000